html {height: 100%;}

body {
	font-family: Georgia, "Times New Roman",Times, serif;
	color: purple;
	background-color: #d8da3d;
	margin: 20px;
	height: 100%; 
}

h1 {
	font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif 
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 99%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 48.2%;
}
.span_1_of_4 {
	width: 22.8%;
}
.center{
	text-align: center;
}

.border{
	border:solid;
}

.height_50{
	height:50%;
	
}
.height_25{
	height:25%;
}
.height_100{
	height:100%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}