html {height: 100%;}

body {
	font-family: Georgia, "Times New Roman",Times, serif;
	color: white;
	background-color: gray;
	height: 100%; 
	min-width: 480px;
	min-height: 400px;
}

.responsive_font_size_4{
	font-size: 4vw;
}
.responsive_font_size_5{
	font-size: 5vw;
}


h1,h2,h3,h4 {
	font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif 
}
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col-left {
	display: block;
	float:left;
/*	margin: 1% 0 1% 1.6%;*/
}
.col-right {
	display: block;
	float:right;
/*	margin: 1% 0 1% 1.6%;*/
}
.col:first-child { margin-left: 0; }


.top_banner{
	position: fixed;
	width:100%;
	height:12%;
	min-width: inherit;
	top:0px;
	left:0px;
	opacity:0.5;
	display:block;
	background-color:black;
	color:white;
	visibility: hidden;
}

.banner_text .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.bottom_pane{
	/*
	position: fixed;
	bottom:0px;
	right:0px;
	*/
	width:100%;
	height:10%;
	opacity:0.7;
	display:block;
	color:black;
	background-color:white;
	text-align: center;
	/*visibility: hidden;*/
}

.bottom_banner{
	position: fixed;
	width:100%;
	height:12%;
	min-height: 140px;
	min-width: inherit;
	bottom:0px;
	left:0px;
	opacity:0.5;
	display:block;
	color:white;
	background-color:black;
	visibility: hidden;
}

.bottom_banner2{
	position: fixed;
	width:100%;
	height:10%;
	min-width: inherit;
	bottom:0px;
	left:0px;
	opacity:0.7;
	display:block;
	color:white;
	background-color:black;
	visibility: hidden;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 99%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 50%;
}
.span_1_of_4 {
	width: 22.8%;
}

.banner{
	display: table;
	width:100%;
	height:100%;
}

.banner_text {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;   
  text-align: center;   
}
.center{
	text-align: center;   	
}

.border{
	border:solid;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}

.height_50{
	height:50%;
	
}
.height_25{
	height:25%;
}
.height_100{
	height:100%;
}
.red{
	color: red;
}

.dialog-message{
    font-family: Courier New;   
    width:70%;
    max-width:70%;
    position:absolute;
    top:20%;
    left:15%;
    margin:20px;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/*  GO FULL WIDTH BELOW 480 PIXELS 
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}
*/