/*body {
  margin: 0 0;
  padding: 0 0;
}*/
#availables {
  background-color: black;
  color: grey;
  float: left;
  width: 64%;
  height: auto;
}

#unavailables {
  background-color: blue;
  float:right;
  width: 34%;
  height: auto;
}

.unavailable {
  background-color: yellow;
  width: 50%;
  padding: 10px;
  margin: 0 auto 10px;
}

.available {
  background-color: brown;
  width: 20%;
  float: left;
  padding: 10px;
  margin: 10px;
}
